@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../img/Decore.png");
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  font-family: "Poppins", sans-serif;
  color: #1b2f5a;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p,
span,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
  border: none;
  background-color: #F1A501;
  font-size: 1.1rem;
}

.container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none !important;
}

nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
}
nav .links ul {
  list-style: none;
  display: flex;
}
nav .links ul li {
  margin: 0 3rem;
}
nav .links ul li a {
  color: #1b2f5a;
  font-size: 17px;
  text-decoration: none;
}
nav .links ul li a.signup {
  border-radius: 5px;
  border: 1px solid #000;
}

.start-wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
}
.start-wrapper .content {
  margin: 4rem 0 0 0;
  max-width: 545px;
}
.start-wrapper .content .subTitle {
  color: #f07167;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.start-wrapper .content .title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181E4B;
}
.start-wrapper .content .description p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5E6282;
}
.start-wrapper .content .last {
  display: flex;
  align-items: center;
}
.start-wrapper .content .last .play {
  margin: 2rem 0 2rem 2rem;
  display: flex;
  align-items: center;
}
.start-wrapper .content .last .play button {
  border-radius: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: #DF6951;
}
.start-wrapper .content .last .play span {
  font-size: 1rem;
}
.start-wrapper .image img {
  height: 33rem;
}

.services {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services .services-title {
  text-align: center;
}
.services .services-title .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
}
.services .services-title .title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
}
.services .cards {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 2rem;
}
.services .cards .card {
  height: 12rem;
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
}
.services .cards .card .icon {
  margin-bottom: 1rem;
}
.services .cards .card .title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.services .cards .card p {
  text-align: center;
}

.destination {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destination .title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.destination .cards {
  display: flex;
  gap: 4rem;
}

.destination .cards .image img {
  height: 18rem;
  width: 18rem;
}

.destination .cards .content {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.destination .cards .time {
  display: flex;
}

.destination .cards .time i {
  margin-right: 1rem;
}

.next-trip {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.next-trip .content .next-trip-title .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5E6282;
}
.next-trip .content .next-trip-title .title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183E;
  max-width: 511px;
}
.next-trip .content .steps .step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.next-trip .content .steps .step .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next-trip .content .steps .step .icon img {
  height: 3rem;
  border-radius: 10px;
}
.next-trip .content .steps .step .text .title {
  font-size: 1.2rem;
  margin: 0.3rem 0;
}
.next-trip .content .steps .step .text p {
  width: 70%;
}

.next-trip .trip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 2rem;
  padding: 1rem;
}

.next-trip .trip .title {
  margin: 0.5rem;
}

.next-trip .trip .subTitle {
  margin: 0 0.5rem;
  color: #4e4e4e;
}

.next-trip .trip .icons {
  margin: 1rem 0;
  display: flex;
}

.next-trip .trip .icons .icon {
  margin: 0 0 0 0.5rem;
  background-color: #e0e0e0;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}

.next-trip .trip .like {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  color: #4e4e4e;
}

/*# sourceMappingURL=style.css.map */
