.brands {
   .brands-wrapper {
                      max-width: 1073px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                  img {
                      margin: 0 2rem;
                      }
                    }
}
