.brands {
  margin-bottom: 120px;
   .brands-wrapper {
                      max-width: 1073px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      transition: 0.3s;
                      margin: 0 2rem;
                  img {
                      margin: 0 2rem;
                      }
                    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .container {
    margin: 0 2rem;
  }
  .brands-wrapper {
            flex-direction: column;
             margin: 2rem 0;
  }
  .brands-wrapper img {
    margin: 1.2rem 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin: 0 4rem;
  }
  .brands-wrapper {
            flex-direction: column;
            margin: 2rem 0;
  }
  .brands-wrapper img {
    margin: 1.2rem 0;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .brands .brands-wrapper{
    margin: 0;
  }
  .brands .brands-wrapper img {
    margin: 0; 
    width: 100%;
  }

  .brands .brands-wrapper > div {
    padding: 12px;
  }
}
