footer {
  margin: 6rem 0;

    .footer-wrapper {
          display: grid;
          grid-template-columns: repeat(5, 1fr);

          .brand {
            .logo {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 500;
              font-size: 44px;
              line-height: 66px;
              color: #181E4B;
                  }
            .subTitle {
                        width: 80%;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        line-height: 124.5%;
                        color: #5E6282;
                      }
                  }
           .content {
            .title {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 700;
              font-size: 21px;
              line-height: 124.5%;
              color: #080809;
                }
            ul {
                list-style-type: none;
            li {
                margin: 1rem 0;
                a {
                  font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
/* or 22px */


/* TEXT CLR */

color: #5E6282;
                }
                }
              }
                  }
              .social {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
              .links {
                     display: flex;
                      align-items: center;
                      justify-content: center;
                      margin-bottom: 1.4rem;

                      .link {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          }
            }
            .app {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;

            .title {
                      margin-bottom: 0.7rem;
                      font-weight: 500;
                    }
              .links {
                      display: flex;
                      gap: 1rem;
                  img {
                    border-radius: 17.5px;
                  }
                    }
                 }
          }
        }
           span {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.8rem;
              }
}

@media screen and (min-width: 360px) and (max-width: 480px) {

  footer .footer-wrapper{
        grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  footer span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {

  footer {
    font-size: 1.3rem;
  }
  footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer span {
    font-size: 2rem;
  }
  .container .subscribe .contact input {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
}

footer .footer-wrapper .brand .logo {
  text-align: center;
}

footer .footer-wrapper .brand .subTitle {
  width: 100%;
  margin-bottom: 25px;
}

.content {
  text-align: center;
  margin-bottom: 15px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer .footer-wrapper .brand .logo {
    font-size: 29px;
  }

  footer .footer-wrapper .content .title {
    font-size: 17px;
  }

  footer .footer-wrapper .content ul li a {
    font-size: 15px;
    line-height: 15px;
  }
}
