

nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
      .nav-container {
        display: flex;
        justify-content: space-between;
      }
      .links {
        ul {
          list-style: none;
          display: flex;

          li {
          margin: 0 3rem;

             a {
                color: #1b2f5a;
                font-size: 17px;
                text-decoration: none;

                &.signup {
                  border-radius: 5px;
                  border: 1px solid #000;
                }

              }

          }
        }
      }


}


