.next-trip {
  margin: 5rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 10rem;


  .content {
      .next-trip-title {
        .subtitle {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: #5E6282;
        }
        .title {
          font-family: 'Volkhov';
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 64px;
          text-transform: capitalize;
          color: #14183E;
          max-width: 511px;

      }

      }

      .steps {

        .step {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            gap: 1rem;


              .icon {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                      height: 3rem;
                    }
              }
              .text {


                  .title {
                         font-size: 1.2rem;
                        margin: 0.3rem 0;
                  }
                  p {
                         width: 70%;
                  }
              }
                  }

      }



  }

  .trip {

          display: flex;
          justify-content: center;
          flex-direction: column;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          border-radius: 2rem;
          padding: 1rem;

          .trip-card {

            .title {
                    margin: 0.5rem;
                  }
            .subTitle {
                    margin: 0 0.5rem;
                    color: #4e4e4e;
                  }
            .trip-card-foto {
              border-radius: 2px;
            }
          }
          .icons {
            margin: 1rem 0;
            display: flex;

            .icon {
                  margin: 0 0 0 0.5rem;
                  background-color: #e0e0e0;
                  height: 2.5rem;
                  width: 2.5rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 3rem;
                }
          }
          .like {
                display: flex;
                justify-content: space-between;
                margin: 0.5rem 1rem;
                color: #4e4e4e;
          }
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .container {
    margin: 0 2rem;
  }
  .next-trip {
            flex-direction: column;
              gap: 2rem;
            }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin: 0 4rem;
  }

  .next-trip {
            flex-direction: column;
            gap: 2rem;
          }

}