.subscribe {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(-225deg, #b6cee86e 0%, #8578f563 100%);
  border-radius: 5rem 1rem 1rem 1rem;
}

.subscribe .title {
  width: 50%;
  text-align: center;
  margin-bottom: 3rem;
  color: #523f75;
}

.subscribe input {
  border: none;
  width: 20rem;
  border-radius: 0.3rem;
  padding: 1.2rem 2rem;
  margin-right: 1rem;
}

.subscribe input:focus {
  outline: none;
}

.subscribe button {
  background-color: #f07167;
  padding: 1.1rem 3rem;
}



@media screen and (min-width: 360px) and (max-width: 480px) {
  .container {
    margin: 0 2rem;
  }

  .subscribe .title {
    font-size: 1rem;
    width: 80%;
  }
  .subscribe .contact {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
  }
  .subscribe .contact input {
    width: 12rem;
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin: 0 4rem;

  .subscribe .title {
    font-size: 2rem;
    width: 80%;
  }
  .subscribe .contact {

    display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
  }
  .subscribe .contact input {
    width: 12rem;
    margin: 0;
    margin-bottom: 1rem;
  }

}
}