.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem;
  gap: 10rem;

    .content {
              display: flex;
              justify-content: center;
              flex-direction: column;


              .title {
                      font-family: 'Volkhov';
                      font-style: normal;
                      font-weight: 700;
                      font-size: 50px;
                      line-height: 64px;
                      text-transform: capitalize;
                      color: #14183E;


                    }
              .subTitle {
                      font-family: 'Poppins';
                      font-style: normal;
                      font-weight: 600;
                      font-size: 18px;
                      line-height: 27px;
                      text-transform: uppercase;
                      color: #5E6282;
                    }
              }

    .review {
      position: relative;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      height: 9rem;
      width: 20rem;
      border-radius: 2rem;
      padding: 3rem;

      .review-ikon {
                    position: absolute;
                    left: -24px;
                    top: -24px;
      }
        p {
            line-height: 1.4rem;
            letter-spacing: 0.1rem;
            margin-bottom: 1rem;
          }
          h3 {
              margin-bottom: 0.3rem;
            }
            h4 {
              font-weight: 100;
}
    }

}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .container {
    margin: 0 2rem;
  }
  .testimonials {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1.5rem;
  }
  .testimonials .review {
    width: 10rem;
    height: min-content;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin: 0 4rem;
  }
  .testimonials {
    gap: 2rem;
    margin: 1.5rem;
  }
  .testimonials .review {
    width: 10rem;
    height: min-content;
  }

}